body {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: -webkit-center;
  background-color: #f5f5ef;
  height: 100%;
  font-size: 16px;
}
p,
a,
label {
  font-family: "Open Sans", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
.a {
  text-decoration: underline dashed;
  text-decoration-color: #a8a8a8;
}
.a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  font-family: 'Lora', serif;
  font-weight: 700;
}
h1 {
  font-size: 2.7em;
  font-weight: 500;
  font-family: "Times New Roman";
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.7em;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: -0.7px;
  color: gray;
}
hr {
  width: 400px;
}
label[for] {
  cursor: pointer;
}
#animations_option {
  display: none;
}
#animations_option:not(:checked) ~ * label[for='animations_option']:after {
  content: ' Выкл.';
}
#animations_option:checked ~ * label[for='animations_option']:after {
  content: ' Вкл.';
  color: inherit;
}
#fontsmooth_option:checked ~ * {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
#fontsmooth_option:checked ~ * hr {
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}
#fontsmooth_option {
  display: none;
}
#fontsmooth_option:not(:checked) ~ * label[for='fontsmooth_option']:after {
  content: ' Выкл.';
}
#fontsmooth_option:checked ~ * label[for='fontsmooth_option']:after {
  content: ' Вкл.';
}
#update_me_error {
  display: none;
}
#update_me_error:checked + .update_me_error_label > h1 {
  position: absolute;
  transition-duration: 0.0001s;
  opacity: 0;
}
/*

Mixins for css togglers and block animations

!!! IMPORTANT 

'animations_option' id is fixed for animations option input checkbox

!!! IMPORTANT 

*/
#animations_option:checked ~ * hr {
  transition-duration: 1s;
}
