.animation_option:checked ~ * ._1_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_1_block_option {
    display: none;
}

#_1_block_option:checked ~ * ._1_block {
    opacity: 1;
    height: auto;
}

#_1_block_option:not(:checked) ~ * ._1_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_1_block_option:checked ~ * label[for=_1_block_option] {
    color: initial !important;
}

#_1_block_option:checked ~ * label[for=_1_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_1_block_option:checked ~ * label[for=_1_block_option] > h3:before {
    content: "Технологии: ";
}
#menu_2 {
    display: none;
}
.menu_2_block {
    display: none;
}
#menu_2:checked ~ .menu_2_block {
    display: initial;
}
.menu_2_label {
    color: gray;
    opacity: 0.8;
    margin-left: 10px;
    margin-right: 10px;
}
.menu_2_label:hover {
    opacity: 1.0;
}
.animation_option:checked ~ * .menu_2_label {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(.86,0,.07,1);
}
#menu_2:checked ~ .menu_2_label {
    color: initial;
    opacity: 1.0;
/*    margin-left: 20px;
    margin-right: 20px; */
}

#menu_3 {
    display: none;
}
.menu_3_block {
    display: none;
}
#menu_3:checked ~ .menu_3_block {
    display: initial;
}
.menu_3_label {
    color: gray;
    opacity: 0.8;
    margin-left: 10px;
    margin-right: 10px;
}
.menu_3_label:hover {
    opacity: 1.0;
}
.animation_option:checked ~ * .menu_3_label {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(.86,0,.07,1);
}
#menu_3:checked ~ .menu_3_label {
    color: initial;
    opacity: 1.0;
/*    margin-left: 20px;
    margin-right: 20px; */
}

#menu_4 {
    display: none;
}
.menu_4_block {
    display: none;
}
#menu_4:checked ~ .menu_4_block {
    display: initial;
}
.menu_4_label {
    color: gray;
    opacity: 0.8;
    margin-left: 10px;
    margin-right: 10px;
}
.menu_4_label:hover {
    opacity: 1.0;
}
.animation_option:checked ~ * .menu_4_label {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(.86,0,.07,1);
}
#menu_4:checked ~ .menu_4_label {
    color: initial;
    opacity: 1.0;
/*    margin-left: 20px;
    margin-right: 20px; */
}

.animation_option:checked ~ * ._5_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_5_block_option {
    display: none;
}

#_5_block_option:checked ~ * ._5_block {
    opacity: 1;
    height: auto;
}

#_5_block_option:not(:checked) ~ * ._5_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_5_block_option:checked ~ * label[for=_5_block_option] {
    color: initial !important;
}

#_5_block_option:checked ~ * label[for=_5_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_5_block_option:checked ~ * label[for=_5_block_option] > h3:before {
    content: "Технологии: ";
}
._6_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._6_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._6_img {
    z-index: 1;
}

._6_preview:not(:checked) ~ label > ._6_img {
    max-width: 200px;
    max-height: 150px;
}

._6_preview:checked ~ label > ._6_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._7_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._7_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._7_img {
    z-index: 1;
}

._7_preview:not(:checked) ~ label > ._7_img {
    max-width: 200px;
    max-height: 150px;
}

._7_preview:checked ~ label > ._7_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._8_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._8_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._8_img {
    z-index: 1;
}

._8_preview:not(:checked) ~ label > ._8_img {
    max-width: 200px;
    max-height: 150px;
}

._8_preview:checked ~ label > ._8_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._9_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._9_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._9_img {
    z-index: 1;
}

._9_preview:not(:checked) ~ label > ._9_img {
    max-width: 200px;
    max-height: 150px;
}

._9_preview:checked ~ label > ._9_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._10_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._10_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._10_img {
    z-index: 1;
}

._10_preview:not(:checked) ~ label > ._10_img {
    max-width: 200px;
    max-height: 150px;
}

._10_preview:checked ~ label > ._10_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._11_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_11_block_option {
    display: none;
}

#_11_block_option:checked ~ * ._11_block {
    opacity: 1;
    height: auto;
}

#_11_block_option:not(:checked) ~ * ._11_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_11_block_option:checked ~ * label[for=_11_block_option] {
    color: initial !important;
}

#_11_block_option:checked ~ * label[for=_11_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_11_block_option:checked ~ * label[for=_11_block_option] > h3:before {
    content: "Технологии: ";
}
._12_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._12_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._12_img {
    z-index: 1;
}

._12_preview:not(:checked) ~ label > ._12_img {
    max-width: 200px;
    max-height: 150px;
}

._12_preview:checked ~ label > ._12_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._13_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._13_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._13_img {
    z-index: 1;
}

._13_preview:not(:checked) ~ label > ._13_img {
    max-width: 200px;
    max-height: 150px;
}

._13_preview:checked ~ label > ._13_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._14_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._14_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._14_img {
    z-index: 1;
}

._14_preview:not(:checked) ~ label > ._14_img {
    max-width: 200px;
    max-height: 150px;
}

._14_preview:checked ~ label > ._14_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._15_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_15_block_option {
    display: none;
}

#_15_block_option:checked ~ * ._15_block {
    opacity: 1;
    height: auto;
}

#_15_block_option:not(:checked) ~ * ._15_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_15_block_option:checked ~ * label[for=_15_block_option] {
    color: initial !important;
}

#_15_block_option:checked ~ * label[for=_15_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_15_block_option:checked ~ * label[for=_15_block_option] > h3:before {
    content: "Технологии: ";
}
._16_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._16_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._16_img {
    z-index: 1;
}

._16_preview:not(:checked) ~ label > ._16_img {
    max-width: 200px;
    max-height: 150px;
}

._16_preview:checked ~ label > ._16_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._17_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._17_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._17_img {
    z-index: 1;
}

._17_preview:not(:checked) ~ label > ._17_img {
    max-width: 200px;
    max-height: 150px;
}

._17_preview:checked ~ label > ._17_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._18_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_18_block_option {
    display: none;
}

#_18_block_option:checked ~ * ._18_block {
    opacity: 1;
    height: auto;
}

#_18_block_option:not(:checked) ~ * ._18_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_18_block_option:checked ~ * label[for=_18_block_option] {
    color: initial !important;
}

#_18_block_option:checked ~ * label[for=_18_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_18_block_option:checked ~ * label[for=_18_block_option] > h3:before {
    content: "Технологии: ";
}
._19_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._19_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._19_img {
    z-index: 1;
}

._19_preview:not(:checked) ~ label > ._19_img {
    max-width: 200px;
    max-height: 150px;
}

._19_preview:checked ~ label > ._19_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._20_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._20_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._20_img {
    z-index: 1;
}

._20_preview:not(:checked) ~ label > ._20_img {
    max-width: 200px;
    max-height: 150px;
}

._20_preview:checked ~ label > ._20_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._21_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_21_block_option {
    display: none;
}

#_21_block_option:checked ~ * ._21_block {
    opacity: 1;
    height: auto;
}

#_21_block_option:not(:checked) ~ * ._21_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_21_block_option:checked ~ * label[for=_21_block_option] {
    color: initial !important;
}

#_21_block_option:checked ~ * label[for=_21_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_21_block_option:checked ~ * label[for=_21_block_option] > h3:before {
    content: "Технологии: ";
}
._22_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._22_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._22_img {
    z-index: 1;
}

._22_preview:not(:checked) ~ label > ._22_img {
    max-width: 200px;
    max-height: 150px;
}

._22_preview:checked ~ label > ._22_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._23_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._23_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._23_img {
    z-index: 1;
}

._23_preview:not(:checked) ~ label > ._23_img {
    max-width: 200px;
    max-height: 150px;
}

._23_preview:checked ~ label > ._23_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._24_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._24_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._24_img {
    z-index: 1;
}

._24_preview:not(:checked) ~ label > ._24_img {
    max-width: 200px;
    max-height: 150px;
}

._24_preview:checked ~ label > ._24_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._25_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._25_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._25_img {
    z-index: 1;
}

._25_preview:not(:checked) ~ label > ._25_img {
    max-width: 200px;
    max-height: 150px;
}

._25_preview:checked ~ label > ._25_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._26_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._26_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._26_img {
    z-index: 1;
}

._26_preview:not(:checked) ~ label > ._26_img {
    max-width: 200px;
    max-height: 150px;
}

._26_preview:checked ~ label > ._26_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._27_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._27_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._27_img {
    z-index: 1;
}

._27_preview:not(:checked) ~ label > ._27_img {
    max-width: 200px;
    max-height: 150px;
}

._27_preview:checked ~ label > ._27_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._28_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._28_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._28_img {
    z-index: 1;
}

._28_preview:not(:checked) ~ label > ._28_img {
    max-width: 200px;
    max-height: 150px;
}

._28_preview:checked ~ label > ._28_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._29_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_29_block_option {
    display: none;
}

#_29_block_option:checked ~ * ._29_block {
    opacity: 1;
    height: auto;
}

#_29_block_option:not(:checked) ~ * ._29_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_29_block_option:checked ~ * label[for=_29_block_option] {
    color: initial !important;
}

#_29_block_option:checked ~ * label[for=_29_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_29_block_option:checked ~ * label[for=_29_block_option] > h3:before {
    content: "Технологии: ";
}
._30_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._30_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._30_img {
    z-index: 1;
}

._30_preview:not(:checked) ~ label > ._30_img {
    max-width: 200px;
    max-height: 150px;
}

._30_preview:checked ~ label > ._30_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._31_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._31_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._31_img {
    z-index: 1;
}

._31_preview:not(:checked) ~ label > ._31_img {
    max-width: 200px;
    max-height: 150px;
}

._31_preview:checked ~ label > ._31_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._32_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._32_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._32_img {
    z-index: 1;
}

._32_preview:not(:checked) ~ label > ._32_img {
    max-width: 200px;
    max-height: 150px;
}

._32_preview:checked ~ label > ._32_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._33_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._33_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._33_img {
    z-index: 1;
}

._33_preview:not(:checked) ~ label > ._33_img {
    max-width: 200px;
    max-height: 150px;
}

._33_preview:checked ~ label > ._33_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._34_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_34_block_option {
    display: none;
}

#_34_block_option:checked ~ * ._34_block {
    opacity: 1;
    height: auto;
}

#_34_block_option:not(:checked) ~ * ._34_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_34_block_option:checked ~ * label[for=_34_block_option] {
    color: initial !important;
}

#_34_block_option:checked ~ * label[for=_34_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_34_block_option:checked ~ * label[for=_34_block_option] > h3:before {
    content: "Технологии: ";
}
._35_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._35_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._35_img {
    z-index: 1;
}

._35_preview:not(:checked) ~ label > ._35_img {
    max-width: 200px;
    max-height: 150px;
}

._35_preview:checked ~ label > ._35_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._36_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._36_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._36_img {
    z-index: 1;
}

._36_preview:not(:checked) ~ label > ._36_img {
    max-width: 200px;
    max-height: 150px;
}

._36_preview:checked ~ label > ._36_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._37_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._37_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._37_img {
    z-index: 1;
}

._37_preview:not(:checked) ~ label > ._37_img {
    max-width: 200px;
    max-height: 150px;
}

._37_preview:checked ~ label > ._37_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._38_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._38_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._38_img {
    z-index: 1;
}

._38_preview:not(:checked) ~ label > ._38_img {
    max-width: 200px;
    max-height: 150px;
}

._38_preview:checked ~ label > ._38_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._39_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._39_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._39_img {
    z-index: 1;
}

._39_preview:not(:checked) ~ label > ._39_img {
    max-width: 200px;
    max-height: 150px;
}

._39_preview:checked ~ label > ._39_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._40_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._40_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._40_img {
    z-index: 1;
}

._40_preview:not(:checked) ~ label > ._40_img {
    max-width: 200px;
    max-height: 150px;
}

._40_preview:checked ~ label > ._40_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.animation_option:checked ~ * ._41_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_41_block_option {
    display: none;
}

#_41_block_option:checked ~ * ._41_block {
    opacity: 1;
    height: auto;
}

#_41_block_option:not(:checked) ~ * ._41_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_41_block_option:checked ~ * label[for=_41_block_option] {
    color: initial !important;
}

#_41_block_option:checked ~ * label[for=_41_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_41_block_option:checked ~ * label[for=_41_block_option] > h3:before {
    content: "Технологии: ";
}
._42_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._42_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._42_img {
    z-index: 1;
}

._42_preview:not(:checked) ~ label > ._42_img {
    max-width: 200px;
    max-height: 150px;
}

._42_preview:checked ~ label > ._42_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._43_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._43_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._43_img {
    z-index: 1;
}

._43_preview:not(:checked) ~ label > ._43_img {
    max-width: 200px;
    max-height: 150px;
}

._43_preview:checked ~ label > ._43_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
._44_preview {
    visibility: hidden;
}

.animation_option:checked ~ * ._44_img {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

._44_img {
    z-index: 1;
}

._44_preview:not(:checked) ~ label > ._44_img {
    max-width: 200px;
    max-height: 150px;
}

._44_preview:checked ~ label > ._44_img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
label[for=_45_block_option] {
    color: rgba(90, 90, 90, 0.57);
}

label[for=_45_block_option]:hover {
    color: rgba(90, 90, 90, 0.80);
}

label[for=_45_block_option]:before {
    font-size: 1.3em;
    content: '≡ ';
}
.animation_option:checked ~ * ._45_block {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#_45_block_option {
    display: none;
}

#_45_block_option:checked ~ * ._45_block {
    opacity: 1;
    height: auto;
}

#_45_block_option:not(:checked) ~ * ._45_block {
    opacity: 0;
    height: 0px !important;
    cursor: initial;
	pointer-events: none;
}

#_45_block_option:checked ~ * label[for=_45_block_option] {
    color: initial !important;
}

#_45_block_option:checked ~ * label[for=_45_block_option] > h3 {
    margin-bottom: 1em;
    font-family: "Open Sans", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: initial;
}

#_45_block_option:checked ~ * label[for=_45_block_option] > h3:before {
    content: "Технологии: ";
}
body {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: -webkit-center;
  background-color: #f5f5ef;
  height: 100%;
  font-size: 16px;
  overflow-y: scroll;
}
.visit_counter {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
p,
a,
label {
  font-family: "Open Sans", Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
.a {
	/* Not working in chrome wtf nice */ 
	/*text-decoration: underline;*/
    /*text-decoration-color: #a8a8a8;
    text-decoration-style: dashed;*/
    color: #7a7a7a;
  /*text-decoration: underline dashed;
  text-decoration-color: #a8a8a8;*/
}
.a:hover {
    color: #1146ff;
    text-decoration: underline;

 /* text-decoration: underline; */
}
h1,
h2,
h3,
h4 {
  font-family: 'Lora', serif;
  font-weight: 700;
}
h1 {
  font-size: 2.7em;
  font-weight: 500;
  font-family: "Times New Roman";
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.7em;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: -0.7px;
  color: gray;
}
hr {
  width: 400px;
}
label[for] {
  cursor: pointer;
}
#animations_option {
  display: none;
}
#animations_option:not(:checked) ~ * label[for='animations_option']:after {
  content: ' Выкл.';
}
#animations_option:checked ~ * label[for='animations_option']:after {
  content: ' Вкл.';
  color: inherit;
}
#fontsmooth_option:checked ~ * {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
#fontsmooth_option:checked ~ * hr {
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}
#fontsmooth_option {
  display: none;
}
#fontsmooth_option:not(:checked) ~ * label[for='fontsmooth_option']:after {
  content: ' Выкл.';
}
#fontsmooth_option:checked ~ * label[for='fontsmooth_option']:after {
  content: ' Вкл.';
}
#update_me_error {
  display: none;
}
#update_me_error:checked + .update_me_error_label > h1 {
  position: absolute;
  transition-duration: 0.0001s;
  opacity: 0;
}
/*

Mixins for css togglers and block animations

!!! IMPORTANT 

'animations_option' id is fixed for animations option input checkbox

!!! IMPORTANT 

*/
#animations_option:checked ~ * hr {
  transition-duration: 1s;
}
